  *{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
 body{
    padding-top: 3%;
    background-image: url(./images/forest.jpg);
    background-size: cover;

}
form{
    margin: auto;
    padding: 20px;
    width: 500px;
    background-color:black;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    opacity: 0.8;
}
input[type="text"]{
    padding: 5px;
    width: 80%;
    font-size: 18px;
}
input[type="submit"]{
    padding:5px;
    font-size: 20px;
    width: 100px;
}
select{
    padding: 5px;
    font-size: 20px;
    background-color:white;
    
}
a:hover{
    color: #000;
}
#responce{
    text-align: center;

}
h1{
    text-align: center;
    color: rgb(211, 35, 65);
    
}
/*  */